{
    GENOME_FASTA_INPUT: "Directory of fasta file",
    GENE_ANNOTATION_INPUT: "Directory of gene_name extracted GTF file",
    MOTIF_INPUT: "http://jaspar.genereg.net/download/CORE/JASPAR2020_CORE_insects_non-redundant_pfms_jaspar.txt",
    ORGANISM: "Gallus gallus",
    PRIMARY_CONTIGS: [CONTIGS:["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "30", "31", "32", "33", "W", "Z"],
    NON_NUCLEAR_CONTIGS: ["MT"]
}